Repository luklss/test-codev: changes, and which Codecov flags are due for each by the changed paths.
All: moduleA, moduleB

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
      moduleA:
        target: auto
        flags:
          - service1
      moduleB:
        target: auto
        flags:
          - service2
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       
  branches: null
flags:
  moduleA:
    paths:
      - service1
    carryforward: false
  moduleB:
    paths:
      - service2
    carryforward: true

trying this again
  .circleci/config.yml
Due: none

trying again
  .circleci/config.yml
Due: none

again
  .circleci/config.yml
Due: none

modifying path
  codecov.yml
Due: none

one more time
  codecov.yml
Due: none

removing carry forward flag
  codecov.yml
Due: none

commeting code out
  service2/example_test.go
Due: moduleB

adding tests
  service1/example_test.go
  service2/example_test.go
Due: moduleA, moduleB

more features
  service1/example.go
  service1/example_test.go
  service2/example_test.go
Due: moduleA, moduleB

i fucked it up
  service1/example_test.go
  service2/example_test.go
Due: moduleA, moduleB

adding badge
  README.md
Due: none

trying again
  README.md
Due: none
